@import url("https://fonts.googleapis.com/css2?family=Lato&family=MonteCarlo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

* {
  margin: unset;
  padding: unset;
}

html {
  font-size: 45.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #242424;
  line-height: 1.5;
  height: 100dvh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to right, #2980b9, #87ceeb);
}

.header-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 0 2rem;
  border: none;
  background-color: #aaa79ede;
  color: #201f1f;
  border-radius: 10rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.header-h1 {
  font-family: "Lato", sans-serif;
  font-family: "MonteCarlo", cursive;
  font-size: 15rem;
  margin: 0 5% 3% 5%;
}

.header-p {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  margin: 0 5% 10% 5%;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 2rem;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

/* CLASS FOR MAKING THE MODAL WORK */

.hidden {
  display: none;
}

.modals {
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: whitesmoke;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
